<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  
</head>

<body>
  <style>
    table {
      margin-top: 30px;
    }
  
    th,
    td {
      padding: 3px;
    }
  </style>
  

<div class="container">
  <div id="app">
    
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" type="application/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1" type="application/javascript"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js" type="application/javascript"></script>

<script src="/app.js" type="application/javascript"></script>

</body>
</html>
